Contact.DistributedContext.Test/Service References/ContactServiceReference/Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4444/Services?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contacts.Application.Aggregates" />
  <xs:element name="AddContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contacts.Application.Aggregates" minOccurs="0" name="contact" nillable="true" type="q1:ContactDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contacts.Application.Aggregates" minOccurs="0" name="contact" nillable="true" type="q2:ContactDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditContactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Contacts.Application.Aggregates" minOccurs="0" name="contact" nillable="true" type="q3:ContactDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>